body {
  /* =============== Variables =============== */
  $body-color-primary: $color-dove-gray;
  /* ===============    End    =============== */

  color: $body-color-primary;

  font-family: "Roboto", sans-serif;
}

// Sticky Footer
html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}
// End
