body {
  /* =============== Variables =============== */
  $body-color-primary: $color-dove-gray;
  /* ===============    End    =============== */

  color: $body-color-primary;

  font-family: "Roboto", sans-serif;
}
